<div class="row">
    <%= image_tag current_user.avatar.url(:thumbnail), class: 'img-rounded' %>
    <strong><%= current_user.username %></strong>
</div>

<div class="row">
    <%= image_tag current_user.avatar.url(:thumbnail), class: 'img-circle' %>
    <strong><%= current_user.username %></strong>
</div>

<div class="row">
    <%= image_tag current_user.avatar.url(:thumbnail), class: 'img-circle' %>
    <strong><%= current_user.username %></strong>
</div>